flask==3.1.1
gunicorn==23.0.0
yfinance==0.2.54
matplotlib==3.10.1
pandas==2.2.3
requests==2.32.3
streamlit==1.35.0
plotly==5.22.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
transformers==4.40.1
